.buttermoth-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #0b0b0e;
}
.buttermoth-navbar {
  width: 1568px;
  height: 105px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: #0b0b0e;
}
.buttermoth-navlink {
  display: contents;
}
.buttermoth-image {
  width: 57px;
  height: 62px;
  object-fit: cover;
  text-decoration: none;
}
.buttermoth-link {
  color: rgb(255, 255, 255);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.buttermoth-link1 {
  color: #ffffff;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.buttermoth-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.buttermoth-link2 {
  color: #ffffff;
  text-decoration: none;
}
.buttermoth-cta-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.buttermoth-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.buttermoth-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.buttermoth-image01 {
  width: 50px;
  object-fit: cover;
}
.buttermoth-container01 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.buttermoth-icon {
  width: 24px;
  height: 24px;
}
.buttermoth-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.buttermoth-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.buttermoth-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.buttermoth-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.buttermoth-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.buttermoth-link6 {
  text-decoration: none;
}
.buttermoth-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.buttermoth-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.buttermoth-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.buttermoth-icon2 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.buttermoth-icon4 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.buttermoth-icon6 {
  width: 24px;
  height: 24px;
}
.buttermoth-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.buttermoth-container03 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.buttermoth-container04 {
  width: 100%;
  height: 522px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttermoth-container05 {
  flex: 0 0 auto;
  width: 273px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.buttermoth-image02 {
  width: 273px;
  height: 289px;
  object-fit: cover;
}
.buttermoth-text02 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: Roboto;
  font-weight: 700;
  margin-right: 0px;
}
.buttermoth-text03 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  align-self: center;
  margin-top: var(--dl-space-space-tenunits);
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tenunits);
}
.buttermoth-container06 {
  width: 522px;
  height: 527px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.buttermoth-image03 {
  width: 518px;
  height: 494px;
  align-self: center;
  object-fit: cover;
}
.buttermoth-container07 {
  width: 539px;
  height: 719px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.buttermoth-image04 {
  width: 518px;
  height: 662px;
  align-self: center;
  margin-top: 61px;
  object-fit: cover;
}
.buttermoth-container08 {
  width: 539px;
  height: 719px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.buttermoth-image05 {
  width: 518px;
  height: 672px;
  align-self: center;
  margin-top: 61px;
  object-fit: cover;
}
.buttermoth-container09 {
  width: 594px;
  height: 410px;
  display: flex;
  align-self: center;
  margin-top: 65px;
  align-items: center;
  justify-content: center;
}
.buttermoth-image06 {
  width: 100%;
  height: 389px;
  align-self: center;
  object-fit: cover;
}
.buttermoth-container10 {
  width: 594px;
  height: 410px;
  display: flex;
  align-self: center;
  margin-top: 65px;
  align-items: center;
  justify-content: flex-start;
}
.buttermoth-video {
  width: 100%;
  height: 100%;
}
.buttermoth-text04 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  margin-top: var(--dl-space-space-tenunits);
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tenunits);
  text-transform: uppercase;
}
.buttermoth-container11 {
  width: 545px;
  height: 611px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttermoth-image07 {
  width: 565px;
  height: 549px;
  margin: auto;
  align-self: center;
  object-fit: cover;
}
.buttermoth-container12 {
  width: 652px;
  height: 611px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttermoth-image08 {
  width: 100%;
  height: 549px;
  margin: auto;
  align-self: center;
  object-fit: cover;
}
.buttermoth-container13 {
  width: 652px;
  height: 611px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttermoth-image09 {
  width: 405px;
  height: 551px;
  margin: auto;
  align-self: center;
  object-fit: cover;
}
.buttermoth-container14 {
  width: 652px;
  height: 611px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttermoth-image10 {
  width: 439px;
  height: 551px;
  align-self: center;
  object-fit: cover;
  margin-left: 50px;
  margin-right: 52px;
}
.buttermoth-container15 {
  width: 652px;
  height: 611px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttermoth-image11 {
  width: 519px;
  height: 551px;
  align-self: center;
  object-fit: cover;
  margin-left: 50px;
  margin-right: 52px;
}
.buttermoth-text05 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  margin-top: var(--dl-space-space-tenunits);
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tenunits);
  text-transform: uppercase;
}
.buttermoth-container16 {
  width: 652px;
  height: 611px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttermoth-image12 {
  width: 519px;
  height: 551px;
  align-self: center;
  object-fit: cover;
  margin-left: 50px;
  margin-right: 52px;
}
.buttermoth-container17 {
  width: 652px;
  height: 611px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttermoth-image13 {
  width: 519px;
  height: 551px;
  align-self: center;
  object-fit: cover;
  margin-left: 50px;
  margin-right: 52px;
}
.buttermoth-container18 {
  width: 652px;
  height: 611px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttermoth-image14 {
  width: 519px;
  height: 551px;
  align-self: center;
  object-fit: cover;
  margin-left: 50px;
  margin-right: 52px;
}
.buttermoth-container19 {
  width: 652px;
  height: 611px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttermoth-image15 {
  width: 519px;
  height: 551px;
  align-self: center;
  object-fit: cover;
  margin-left: 50px;
  margin-right: 52px;
}
.buttermoth-features {
  width: 100%;
  height: 402px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 148px;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.buttermoth-text06 {
  top: 137px;
  left: 410px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 25px;
  text-align: center;
  font-family: Nunito;
  font-weight: 700;
}
.buttermoth-image16 {
  width: 324px;
  height: 209px;
  align-self: center;
  object-fit: cover;
}
.buttermoth-text09 {
  color: #ffffff;
  font-size: 2rem;
  align-self: center;
  text-align: justify;
  text-transform: uppercase;
}
.buttermoth-link7 {
  color: #ffffff;
  width: 277px;
  font-size: 22px;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  text-decoration: none;
  background-color: rgb(134, 157, 238);
}
@media(max-width: 1600px) {
  .buttermoth-link {
    font-weight: bold;
  }
  .buttermoth-video {
    width: 100%;
    height: 100%;
  }
}
@media(max-width: 1200px) {
  .buttermoth-video {
    width: 100%;
    height: 100%;
  }
  .buttermoth-image07 {
    margin: 52px;
  }
  .buttermoth-image08 {
    margin: var(--dl-space-space-halfunit);
  }
  .buttermoth-image12 {
    margin: auto;
  }
  .buttermoth-image13 {
    margin: auto;
  }
  .buttermoth-image14 {
    margin: auto;
  }
  .buttermoth-image15 {
    margin: 52px;
  }
}
@media(max-width: 991px) {
  .buttermoth-navbar {
    width: 100%;
    height: 109px;
    margin-right: 0px;
  }
  .buttermoth-video {
    width: 613px;
    height: 100%;
  }
}
@media(max-width: 767px) {
  .buttermoth-navbar {
    width: 100%;
    height: 105px;
  }
  .buttermoth-links-container {
    display: none;
  }
  .buttermoth-image06 {
    width: 100%;
    height: 396px;
  }
  .buttermoth-video {
    width: 100%;
    height: 100%;
  }
}
@media(max-width: 479px) {
  .buttermoth-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .buttermoth-text03 {
    font-size: 80px;
  }
  .buttermoth-container06 {
    width: 100%;
    height: 405px;
  }
  .buttermoth-image03 {
    width: 276px;
    height: 243px;
  }
  .buttermoth-container07 {
    width: 100%;
    height: 352px;
  }
  .buttermoth-image04 {
    width: 276px;
    height: 243px;
  }
  .buttermoth-container08 {
    width: 100%;
    height: 405px;
  }
  .buttermoth-image05 {
    width: 276px;
    height: 356px;
  }
  .buttermoth-container09 {
    width: 100%;
    height: 405px;
  }
  .buttermoth-image06 {
    width: 378px;
    height: 283px;
  }
  .buttermoth-container10 {
    width: 100%;
    height: 405px;
  }
  .buttermoth-container11 {
    width: 100%;
    margin-right: 0px;
  }
  .buttermoth-image07 {
    width: 424px;
    height: 388px;
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: 0px;
  }
  .buttermoth-container12 {
    width: 100%;
  }
  .buttermoth-image08 {
    width: 426px;
    height: 410px;
    margin-left: 20px;
  }
  .buttermoth-container13 {
    width: 100%;
    height: 591px;
  }
  .buttermoth-image09 {
    width: 422px;
    height: 535px;
  }
  .buttermoth-container14 {
    width: 100%;
    height: 584px;
  }
  .buttermoth-image10 {
    width: 479px;
    height: 459px;
  }
  .buttermoth-container15 {
    width: 100%;
    height: 611px;
  }
  .buttermoth-image11 {
    width: 408px;
    height: 452px;
  }
  .buttermoth-text05 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
  }
  .buttermoth-container16 {
    width: 100%;
    height: 511px;
  }
  .buttermoth-image12 {
    width: 261px;
    height: 414px;
  }
  .buttermoth-container17 {
    width: 100%;
    height: 511px;
  }
  .buttermoth-image13 {
    width: 301px;
    height: 447px;
  }
  .buttermoth-container18 {
    width: 100%;
    height: 511px;
  }
  .buttermoth-image14 {
    width: 301px;
    height: 447px;
  }
  .buttermoth-container19 {
    width: 100%;
    height: 511px;
  }
  .buttermoth-image15 {
    width: 366px;
    height: 417px;
  }
}
