.toolbar-container {
  width: 198px;
  height: 148px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.toolbar-image {
  width: 103px;
  height: 113px;
  margin: auto;
  align-self: flex-start;
  object-fit: cover;
  margin-bottom: auto;
}
.toolbar-text {
  color: #ffffff;
  font-size: 50px;
  align-self: center;
  font-weight: bold;
}
.toolbar-root-class-name {
  align-self: center;
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: #272626;
  border-style: solid;
  border-width: 10px;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(0deg, rgb(23, 23, 23) 0.00%,rgb(0, 0, 0) 100.00%);
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.home-container01 {
  width: 100%;
  height: 397px;
  display: flex;
  margin-top: 52px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1f1f1f;
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 40px;
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
}
.home-container02 {
  width: 100%;
  height: 339px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.home-container03 {
  width: 292px;
  height: 265px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-right: 12px;
  justify-content: center;
}
.home-image {
  width: 338px;
  height: 243px;
  align-self: center;
  object-fit: cover;
  border-color: #ffffff;
  border-width: 5px;
}
.home-container04 {
  width: 460px;
  height: 193px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 11px;
  justify-content: center;
}
.home-text01 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  align-self: flex-start;
  text-align: center;
  font-weight: bold;
}
.home-text02 {
  text-transform: uppercase;
}
.home-text03 {
  text-transform: uppercase;
}
.home-text04 {
  text-transform: uppercase;
}
.home-text07 {
  font-size: 15px;
  text-transform: capitalize;
}
.home-text08 {
  font-size: 15px;
}
.home-text09 {
  font-size: 15px;
}
.home-text10 {
  font-size: 15px;
  text-transform: capitalize;
}
.home-container05 {
  width: 100%;
  height: 397px;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text12 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
}
.home-container06 {
  width: 100%;
  height: 339px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.home-container07 {
  width: 292px;
  height: 265px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-right: 12px;
  justify-content: center;
}
.home-image1 {
  width: 344px;
  height: 248px;
  object-fit: cover;
  border-color: #ffffff;
  border-width: 5px;
  margin-right: var(--dl-space-space-unit);
}
.home-container08 {
  width: 460px;
  height: 193px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 11px;
  justify-content: center;
}
.home-text15 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  align-self: flex-start;
  text-align: center;
  font-weight: bold;
}
.home-text16 {
  text-transform: uppercase;
}
.home-text18 {
  font-size: 15px;
}
.home-text19 {
  font-size: 15px;
  text-transform: capitalize;
}
.home-text20 {
  font-size: 15px;
}
.home-text21 {
  font-size: 15px;
  text-transform: capitalize;
}
.home-text22 {
  font-size: 15px;
}
.home-text23 {
  font-size: 15px;
  text-transform: capitalize;
}
.home-text24 {
  font-size: 15px;
}
.home-text25 {
  font-size: 15px;
  text-transform: capitalize;
}
.home-text26 {
  font-size: 15px;
}
.home-text27 {
  font-size: 15px;
  text-transform: capitalize;
}
.home-container09 {
  width: 100%;
  height: 674px;
  display: flex;
  margin-top: 52px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1f1f1f;
}
.home-link {
  color: rgb(255, 255, 255);
  font-size: 40px;
  align-self: center;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.home-container10 {
  width: 800px;
  height: 508px;
  display: flex;
  align-self: center;
  margin-top: 27px;
  align-items: center;
  justify-content: center;
}
.home-container11 {
  width: 100%;
  height: 576px;
  display: flex;
  align-self: center;
  margin-top: 35px;
  align-items: flex-start;
  justify-content: center;
}
.home-container12 {
  width: 800px;
  height: 100%;
  display: flex;
  align-self: center;
  margin-top: 12px;
  align-items: flex-start;
  justify-content: center;
}
.home-div {
  width: 804px;
  height: 599px;
  align-self: center;
}
@media(max-width: 991px) {
  .home-text01 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
  }
  .home-text02 {
    text-transform: uppercase;
  }
  .home-text03 {
    text-transform: uppercase;
  }
  .home-text04 {
    text-transform: uppercase;
  }
  .home-text07 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text08 {
    font-size: 15px;
  }
  .home-text09 {
    font-size: 15px;
  }
  .home-text10 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-image1 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-text15 {
    color: rgb(255, 255, 255);
  }
  .home-text16 {
    text-transform: uppercase;
  }
  .home-text18 {
    font-size: 15px;
  }
  .home-text19 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text20 {
    font-size: 15px;
  }
  .home-text21 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text22 {
    font-size: 15px;
  }
  .home-text23 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text24 {
    font-size: 15px;
  }
  .home-text25 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text26 {
    font-size: 15px;
  }
  .home-text27 {
    font-size: 15px;
    text-transform: capitalize;
  }
}
@media(max-width: 767px) {
  .home-container01 {
    height: 516px;
  }
  .home-container02 {
    flex-wrap: wrap;
  }
  .home-text01 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
  }
  .home-text02 {
    text-transform: uppercase;
  }
  .home-text03 {
    text-transform: uppercase;
  }
  .home-text04 {
    text-transform: uppercase;
  }
  .home-text07 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text08 {
    font-size: 15px;
  }
  .home-text09 {
    font-size: 15px;
  }
  .home-text10 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-container05 {
    height: 516px;
  }
  .home-container06 {
    flex-wrap: wrap;
  }
  .home-text15 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
  }
  .home-container09 {
    height: 516px;
  }
  .home-container11 {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .home-container01 {
    width: 100%;
    height: 473px;
    align-self: center;
    margin-left: 0px;
    background-color: #141414;
  }
  .home-container02 {
    width: 425px;
    height: 289px;
    flex-wrap: wrap;
  }
  .home-container03 {
    width: 245px;
    height: 218px;
    flex-wrap: wrap;
  }
  .home-image {
    width: 231px;
    height: 170px;
  }
  .home-container04 {
    width: 177px;
    height: 198px;
  }
  .home-text01 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
  }
  .home-text02 {
    text-transform: uppercase;
  }
  .home-text03 {
    text-transform: uppercase;
  }
  .home-text04 {
    text-transform: uppercase;
  }
  .home-text07 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text08 {
    font-size: 15px;
  }
  .home-text09 {
    font-size: 15px;
  }
  .home-text10 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-container05 {
    width: 100%;
    height: 473px;
    align-self: center;
    margin-left: 0px;
    background-color: #141414;
  }
  .home-container06 {
    width: 425px;
    height: 226px;
    flex-wrap: wrap;
  }
  .home-container07 {
    width: 245px;
    height: 218px;
    flex-wrap: wrap;
  }
  .home-container08 {
    width: 177px;
    height: 198px;
  }
  .home-text15 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
  }
  .home-text16 {
    text-transform: uppercase;
  }
  .home-text19 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text20 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text21 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text22 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text23 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text24 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text25 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text26 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-text27 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .home-container09 {
    width: 100%;
    height: 473px;
    align-self: center;
    margin-left: 0px;
    background-color: #141414;
  }
  .home-container10 {
    width: 177px;
    height: 198px;
  }
  .home-container11 {
    width: 425px;
    height: 289px;
    flex-wrap: wrap;
  }
  .home-container12 {
    width: 177px;
    height: 198px;
  }
}
