.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #0b0b0e;
}
.home-navbar {
  width: 1519px;
  height: 97px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: #0b0b0e;
}
.home-image {
  width: 57px;
  height: 62px;
  object-fit: cover;
}
.home-link {
  color: rgb(255, 255, 255);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link1 {
  color: #ffffff;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link2 {
  color: #ffffff;
  text-decoration: none;
}
.home-cta-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-image1 {
  width: 50px;
  object-fit: cover;
}
.home-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon {
  width: 24px;
  height: 24px;
}
.home-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link6 {
  text-decoration: none;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.home-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon02 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon06 {
  width: 24px;
  height: 24px;
}
.home-container2 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-image2 {
  width: 1815px;
  height: 612px;
  display: flex;
  align-items: center;
  padding-bottom: 0px;
  background-size: contain;
  justify-content: center;
  background-image: 900cb48c-7966-4346-a630-554c4d9d87a2;
  background-position: center;
}
.home-text {
  color: #ffffff;
  font-size: 100px;
}
.home-features {
  width: 100%;
  height: 402px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-text1 {
  top: 137px;
  left: 410px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 25px;
  text-align: center;
  font-family: Nunito;
  font-weight: 700;
}
.home-image3 {
  width: 324px;
  height: 209px;
  align-self: center;
  object-fit: cover;
}
.home-link7 {
  display: contents;
}
.home-text4 {
  color: #ffffff;
  font-size: 2rem;
  align-self: center;
  text-align: justify;
  text-transform: uppercase;
  text-decoration: none;
}
.home-link8 {
  color: #ffffff;
  width: 277px;
  font-size: 22px;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  text-decoration: none;
  background-color: rgb(134, 157, 238);
}
.home-testimonials {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 219px;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-text5 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-testimonial-card {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-card-heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-name-and-position {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-name {
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-position {
  color: var(--dl-color-gray-700);
}
.home-stars-container {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.home-icon08 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home-icon10 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home-icon12 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home-icon14 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home-icon16 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home-text6 {
  color: #ffffff;
  font-size: 15px;
  text-align: left;
}
.home-text7 {
  color: rgb(255, 255, 255);
  text-align: left;
}
@media(max-width: 1600px) {
  .home-link {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
  }
  .home-image2 {
    width: 1504px;
    height: 398px;
    padding: auto;
    padding-top: auto;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: auto;
  }
  .home-features {
    margin: auto;
  }
  .home-testimonials {
    margin: auto;
  }
}
@media(max-width: 1200px) {
  .home-image2 {
    width: 1116px;
    height: 370px;
  }
}
@media(max-width: 991px) {
  .home-navbar {
    width: 100%;
    height: 109px;
    margin-right: 0px;
  }
  .home-image2 {
    width: 915px;
    height: 309px;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text {
    top: 113px;
    left: 137px;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    width: 100%;
    height: 105px;
  }
  .home-links-container {
    display: none;
  }
  .home-image2 {
    width: 703px;
    height: 237px;
  }
  .home-text {
    top: 118px;
    left: 148px;
  }
  .home-features {
    margin-top: 121px;
  }
  .home-testimonials {
    margin-top: 128px;
  }
  .home-text5 {
    text-align: center;
  }
  .home-testimonial-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-stars-container {
    justify-content: flex-end;
  }
}
@media(max-width: 479px) {
  .home-navbar {
    width: 100%;
    height: 94px;
    flex-wrap: wrap;
  }
  .home-link {
    margin-right: 0px;
  }
  .home-link1 {
    margin-right: 0px;
  }
  .home-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-image2 {
    width: 434px;
    height: 147px;
  }
  .home-text {
    top: 21px;
    left: 12px;
    width: 479px;
    height: 85px;
    font-size: 60px;
    text-align: center;
  }
  .home-text4 {
    text-align: center;
  }
  .home-text5 {
    text-align: center;
  }
  .home-testimonial-card {
    width: 100%;
  }
}
