.nova-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #0b0b0e;
}
.nova-navbar {
  width: 1568px;
  height: 105px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: #0b0b0e;
}
.nova-navlink {
  display: contents;
}
.nova-image {
  width: 57px;
  height: 62px;
  object-fit: cover;
  text-decoration: none;
}
.nova-link {
  color: rgb(255, 255, 255);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.nova-link1 {
  color: #ffffff;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.nova-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nova-link2 {
  color: #ffffff;
  text-decoration: none;
}
.nova-cta-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nova-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.nova-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.nova-image01 {
  width: 50px;
  object-fit: cover;
}
.nova-container01 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nova-icon {
  width: 24px;
  height: 24px;
}
.nova-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nova-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.nova-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.nova-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.nova-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.nova-link6 {
  text-decoration: none;
}
.nova-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.nova-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.nova-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.nova-icon2 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.nova-icon4 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.nova-icon6 {
  width: 24px;
  height: 24px;
}
.nova-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.nova-container03 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.nova-container04 {
  width: 100%;
  height: 522px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nova-container05 {
  flex: 0 0 auto;
  width: 273px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nova-image02 {
  width: 273px;
  height: 289px;
  object-fit: cover;
}
.nova-text2 {
  color: #ffffff;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 700;
  margin-right: 0px;
}
.nova-text3 {
  color: #ffffff;
  font-size: 100px;
  align-self: center;
  margin-top: var(--dl-space-space-tenunits);
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tenunits);
}
.nova-container06 {
  width: 1889px;
  height: 425px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.nova-image03 {
  width: 491px;
  height: 280px;
  align-self: center;
  object-fit: cover;
  margin-left: 70px;
  margin-right: 70px;
}
.nova-image04 {
  top: 6px;
  left: 0px;
  width: 467px;
  height: 389px;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 87px;
  margin-right: 87px;
}
.nova-image05 {
  top: 86px;
  right: 77px;
  width: 494px;
  height: 261px;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.nova-container07 {
  width: 1889px;
  height: 466px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.nova-image06 {
  width: 494px;
  height: 261px;
  align-self: center;
  object-fit: cover;
  margin-left: 70px;
  margin-right: 70px;
}
.nova-image07 {
  top: 25px;
  left: 0px;
  right: 0px;
  width: 397px;
  height: 387px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
  margin-left: 89px;
  margin-right: 99px;
}
.nova-image08 {
  top: 95px;
  right: 73px;
  width: 494px;
  height: 261px;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.nova-container08 {
  width: 1889px;
  height: 319px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.nova-image09 {
  top: 18px;
  left: 0px;
  width: 494px;
  height: 261px;
  position: absolute;
  object-fit: cover;
  margin-left: 70px;
}
.nova-image10 {
  top: 16px;
  right: 71px;
  width: 494px;
  height: 261px;
  position: absolute;
  object-fit: cover;
}
.nova-image11 {
  top: 14px;
  left: 0px;
  right: 0px;
  width: 494px;
  height: 261px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.nova-text4 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  margin-top: var(--dl-space-space-tenunits);
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tenunits);
  text-transform: uppercase;
}
.nova-container09 {
  width: 1889px;
  height: 485px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nova-image12 {
  width: 494px;
  height: 434px;
  align-self: center;
  object-fit: cover;
  margin-left: 70px;
  margin-right: 70px;
}
.nova-image13 {
  width: 565px;
  height: 434px;
  align-self: center;
  object-fit: cover;
  margin-left: 70px;
  margin-right: 70px;
}
.nova-image14 {
  width: 494px;
  height: 434px;
  align-self: center;
  object-fit: cover;
  margin-left: 70px;
  margin-right: 70px;
}
.nova-features {
  width: 100%;
  height: 402px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.nova-text5 {
  top: 137px;
  left: 410px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 25px;
  text-align: center;
  font-family: Nunito;
  font-weight: 700;
}
.nova-image15 {
  width: 324px;
  height: 209px;
  align-self: center;
  object-fit: cover;
}
.nova-text8 {
  color: #ffffff;
  font-size: 2rem;
  align-self: center;
  text-align: justify;
  text-transform: uppercase;
}
.nova-link7 {
  color: #ffffff;
  width: 277px;
  font-size: 22px;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  text-decoration: none;
  background-color: rgb(134, 157, 238);
}
@media(max-width: 1600px) {
  .nova-container06 {
    width: 100%;
    margin-left: 0px;
  }
  .nova-image03 {
    margin-left: 36px;
    margin-right: 0px;
  }
  .nova-image04 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .nova-image05 {
    margin-left: 47px;
    margin-right: 20px;
  }
  .nova-container07 {
    width: 100%;
    height: 555px;
  }
  .nova-image06 {
    margin-left: 56px;
    margin-right: 69px;
  }
  .nova-image07 {
    top: 35px;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .nova-image08 {
    top: 154px;
    right: 51px;
  }
  .nova-container08 {
    width: 100%;
    height: 392px;
  }
  .nova-image09 {
    margin-left: 0px;
  }
  .nova-image10 {
    top: 16px;
    right: 0px;
    margin-left: 1px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .nova-image11 {
    top: 16px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .nova-container09 {
    width: 100%;
    height: 540px;
  }
  .nova-image12 {
    width: 441px;
    height: 310px;
    margin-left: 29px;
  }
  .nova-image13 {
    width: 467px;
    height: 336px;
  }
  .nova-image14 {
    width: 442px;
    height: 336px;
  }
}
@media(max-width: 1200px) {
  .nova-container06 {
    width: 611px;
    height: 1218px;
    position: relative;
    flex-wrap: wrap;
  }
  .nova-image03 {
    top: 461px;
    left: 20px;
    position: absolute;
  }
  .nova-image04 {
    top: 850px;
    left: 0px;
    right: 0px;
    bottom: 87px;
    margin: auto;
    position: absolute;
  }
  .nova-image05 {
    left: 22px;
    bottom: 67px;
    position: absolute;
  }
  .nova-container07 {
    width: 616px;
    height: 1470px;
    position: relative;
    flex-wrap: wrap;
    padding-left: 0px;
  }
  .nova-image06 {
    top: 1000px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
  }
  .nova-image07 {
    top: 542px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
  }
  .nova-image08 {
    top: -700px;
    left: 0px;
    right: 0px;
    width: 537px;
    bottom: 198px;
    height: 276px;
    margin: auto;
    position: absolute;
  }
  .nova-container08 {
    width: 623px;
    height: 1134px;
    position: relative;
    flex-wrap: wrap;
  }
  .nova-image09 {
    top: -900px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .nova-image10 {
    left: 0px;
    right: 0px;
    bottom: 92px;
    margin: auto;
    position: absolute;
  }
  .nova-image11 {
    top: 750px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .nova-container09 {
    width: 695px;
    height: 1909px;
    position: relative;
    flex-wrap: wrap;
  }
  .nova-image12 {
    top: 159px;
    left: 0px;
    right: 0px;
    width: 545px;
    height: 442px;
    margin: auto;
    position: absolute;
  }
  .nova-image13 {
    top: 743px;
    left: 0px;
    right: 0px;
    width: 548px;
    height: 426px;
    margin: auto;
    position: absolute;
  }
  .nova-image14 {
    left: 0px;
    right: 0px;
    width: 519px;
    bottom: 115px;
    height: 481px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
}
@media(max-width: 991px) {
  .nova-navbar {
    width: 100%;
    height: 109px;
    margin-right: 0px;
  }
  .nova-container06 {
    width: 566px;
    height: 1181px;
    position: relative;
    flex-wrap: wrap;
  }
  .nova-image03 {
    margin: 0px;
    position: static;
  }
  .nova-image04 {
    margin: auto;
    position: static;
  }
  .nova-image05 {
    margin: 20px;
    position: static;
  }
  .nova-container07 {
    width: 582px;
    height: 1237px;
    position: relative;
    flex-wrap: wrap;
  }
  .nova-image06 {
    margin: auto;
    position: static;
  }
  .nova-image07 {
    margin: auto;
    position: static;
  }
  .nova-image08 {
    position: static;
  }
  .nova-container08 {
    width: 642px;
    height: 1358px;
    position: relative;
    flex-wrap: wrap;
  }
  .nova-image09 {
    margin: auto;
    position: static;
  }
  .nova-image10 {
    margin: auto;
    position: static;
  }
  .nova-image11 {
    margin: auto;
    position: static;
  }
  .nova-container09 {
    width: 677px;
    height: 1614px;
    flex-wrap: wrap;
  }
  .nova-image12 {
    width: 495px;
    height: 407px;
    margin: auto;
    position: static;
  }
  .nova-image13 {
    width: 579px;
    margin: auto;
    position: static;
  }
  .nova-image14 {
    width: 468px;
    height: 440px;
    margin: auto;
    position: static;
  }
}
@media(max-width: 767px) {
  .nova-navbar {
    width: 100%;
    height: 105px;
  }
  .nova-links-container {
    display: none;
  }
  .nova-container06 {
    width: 595px;
    height: 1171px;
    flex-wrap: wrap;
  }
  .nova-image03 {
    position: static;
  }
  .nova-image04 {
    margin: auto;
    position: static;
  }
  .nova-image05 {
    margin: auto;
    position: static;
  }
  .nova-container07 {
    width: 631px;
    height: 1162px;
    position: relative;
    flex-wrap: wrap;
  }
  .nova-image06 {
    margin: auto;
    position: static;
  }
  .nova-image07 {
    position: static;
  }
  .nova-image08 {
    position: static;
  }
  .nova-container08 {
    width: 648px;
    height: 1083px;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .nova-image09 {
    top: 316px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: static;
  }
  .nova-image10 {
    position: static;
  }
  .nova-image11 {
    position: static;
  }
  .nova-container09 {
    width: 594px;
    height: 1562px;
    flex-wrap: wrap;
  }
  .nova-image12 {
    width: 407px;
    height: 301px;
    margin: auto;
    position: static;
  }
  .nova-image13 {
    margin: auto;
    position: static;
  }
  .nova-image14 {
    margin: auto;
    position: static;
  }
}
@media(max-width: 479px) {
  .nova-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .nova-container06 {
    width: 100%;
    height: 1089px;
    position: relative;
    flex-wrap: wrap;
  }
  .nova-image03 {
    width: 395px;
    height: 340px;
    position: static;
  }
  .nova-image04 {
    top: 476px;
    left: 0px;
    right: 0px;
    width: 406px;
    height: 333px;
    position: static;
    align-self: center;
  }
  .nova-image05 {
    width: 355px;
    height: 215px;
    position: static;
  }
  .nova-container07 {
    width: 100%;
    height: 1092px;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  .nova-image06 {
    width: 383px;
    height: 243px;
    position: static;
  }
  .nova-image07 {
    width: 349px;
    height: 372px;
    position: static;
  }
  .nova-image08 {
    width: 380px;
    height: 233px;
    position: static;
  }
  .nova-container08 {
    width: 100%;
    height: 874px;
    position: relative;
    flex-wrap: wrap;
  }
  .nova-image09 {
    top: -218px;
    left: 0px;
    right: 0px;
    width: 387px;
    height: 237px;
    position: static;
    margin-left: 47px;
  }
  .nova-image10 {
    width: 403px;
    height: 219px;
    margin: auto;
    position: static;
  }
  .nova-image11 {
    top: 79px;
    left: 0px;
    right: 0px;
    width: 385px;
    height: 228px;
    position: static;
  }
  .nova-container09 {
    width: 100%;
    height: 998px;
    position: relative;
    flex-wrap: wrap;
  }
  .nova-image12 {
    top: -4px;
    right: 1px;
    width: 403px;
    height: 283px;
    margin: auto;
    position: absolute;
  }
  .nova-image13 {
    top: 302px;
    left: -2px;
    width: 343px;
    height: 261px;
    position: absolute;
  }
  .nova-image14 {
    top: 603px;
    left: -37px;
    width: 362px;
    height: 327px;
    position: absolute;
  }
  .nova-features {
    margin-bottom: 75px;
  }
}
